.card{
    width: 280px;
    height: fit-content;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.589);
    box-shadow: 2px 2px 10px rgba(170, 170, 170, 0.397);
    border-radius: 10px;
    overflow: hidden;
    cursor: default;
    transition: .2s;
    position: relative;
}
.card:hover{
    transform: translateY(5px);
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 4px 20px rgba(105, 105, 105, 0.774);
}
.card-img{
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(128, 128, 128, 0.541);
    transition: .4s;
}
.card:hover .card-img{
    transform-origin: 50% 100%;
    transform: scale(1.1);
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    font-weight: 600;
}
.description{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    padding-bottom: 80px;
    border-radius: 10px 10px 0 0;
    transform: translateY(50px);
    opacity: 0;
    color: white;
    transition: .4s;
}
.card:hover .description{
    color: #FFEAC9;
    opacity: 1;
    transform: translateY(0);
    background: linear-gradient(rgb(216, 58, 86), rgb(255, 97, 109), rgba(255, 255, 255, 0.397), rgba(255, 255, 255, 0));
}