
.add-cake-input{
    width: 100%;
    border: 1px solid rgb(180, 180, 180);
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
}
.add-cake-input[type="file"]{
    border: none;
    border-radius: 0;
    padding: 0;
}
.form-container{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.651);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(155, 155, 155, 0.452);
}
form p{
    margin-bottom: 0;
}
.submit-btn{
    width: fit-content;
    margin-top: 20px;
    background-color: #D83A56;
    color: white;
}
.submit-btn:hover{
    background-color: #FF616D;
    color: white;
}